
<div class="container__big-card">
    <div class="image__big-card">
        <img src="https://t.ctcdn.com.br/kdHUJ1yriNF7dqSdX2sXb4OTav4=/340x265:1654x1005/1314x739/smart/i521747.jpeg"
            alt="" srcset="" height="200px">
    </div>
    <div class="title__big-card">
        <h1> <a href="#" target="_blank"> Nova versão do Angular</a></h1>
    </div>
    <div class="description__big-card">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae incidunt nisi explicabo commodi porro
            suscipit ducimus omnis repellat modi. </p>
    </div>
</div>